In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
# Calculate the total number of unique schools
school_count = len(school_data)
print (school_count)

15

In [5]:
# Calculate the total number of students
student_count = len(school_data_complete)
print (student_count)

39170

In [6]:
# Calculate the total budget
total_budget = 0
for i in range (len(school_data['budget'])):
    total_budget = (school_data['budget'][i])+total_budget
    
print(total_budget)

24649428

In [7]:
per_student_budget = total_budget/student_count
print(per_student_budget)

629.2935409752362

In [8]:
# Calculate the average (mean) math score
average_math_score = 0
total_score_m = 0
for i in range (len(student_data['math_score'])):
    total_score_m = (student_data['math_score'][i])+total_score_m
average_math_score = total_score_m/student_count
print(average_math_score)

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading_score = 0
total_score_r = 0
for i in range (len(student_data['reading_score'])):
    total_score_r = (student_data['reading_score'][i])+total_score_r
average_reading_score = total_score_r/student_count
print(average_reading_score)

81.87784018381414

In [10]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
d = {'Unique Schools': [school_count], 'Total Budget': total_budget, 'Total Students': [student_count], 'Average Math Score': [average_math_score], 'Average ReadingScore': [average_reading_score], 'Passing Reading Rate': [passing_reading_percentage], 'Passing Math Rate': [passing_math_percentage], 'Overall Passing Rate': [overall_passing_rate]}
district_summary = pd.DataFrame(data=d)






#print('Unique Schools:', school_count)
#print('Total Students:', student_count)
#print('Average Math Score:', average_math_score)
#print('Average Reading Score:', average_reading_score)
#print('Passing Math Rate:', passing_math_percentage)
#print('Passing Reading Rate:', passing_reading_percentage)
#print('Overall Passing Rate:', overall_passing_rate)




# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


# Display the DataFrame
print(district_summary)

   Unique Schools    Total Budget Total Students  Average Math Score  \
0              15  $24,649,428.00         39,170           78.985371

   Average ReadingScore  Passing Reading Rate  Passing Math Rate  \
0              81.87784             85.805463          74.980853

   Overall Passing Rate
0             65.172326

In [14]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
# Calculate the total student count
per_school_counts = school_data.set_index(['school_name'])['size']
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [16]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_budget
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(['school_name']).mean()['math_score']
per_school_reading = school_data_complete.groupby(['school_name']).mean()['reading_score']
per_school_math
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [18]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete.groupby(['school_name']).mean()['math_score'] / per_school_counts
len(school_passing_math)

15

In [19]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete.groupby(['school_name']).mean()['reading_score'] / per_school_counts
len(school_passing_reading)

15

In [20]:
b = {"School Reading": per_school_reading, 'School Math': per_school_math}
passing_both= pd.DataFrame(data=b)
print(passing_both)

                       School Reading  School Math
school_name
Bailey High School          81.033963    77.048432
Cabrera High School         83.975780    83.061895
Figueroa High School        81.158020    76.711767
Ford High School            80.746258    77.102592
Griffin High School         83.816757    83.351499
Hernandez High School       80.934412    77.289752
Holden High School          83.814988    83.803279
Huang High School           81.182722    76.629414
Johnson High School         80.966394    77.072464
Pena High School            84.044699    83.839917
Rodriguez High School       80.744686    76.842711
Shelton High School         83.725724    83.359455
Thomas High School          83.848930    83.418349
Wilson High School          83.989488    83.274201
Wright High School          83.955000    83.682222

In [21]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = passing_both[
    (passing_both['School Reading'] >= 70) & (passing_both["School Math"] >= 70)
]
len(passing_math_and_reading)

15

In [22]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

per_school_passing_math
per_school_passing_reading
overall_passing_rate

KeyError: 'student_name'

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
pss = {"School Type": school_types, "Total Students":per_school_counts, "Total School Budget": per_school_budget, 'Per Student Budget': per_student_budget, 'Average Math Score': per_school_math, 'Average Reading Score': per_school_reading }
per_school_summary = pd.DataFrame(data=pss)

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

In [40]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data_complete.groupby(['school_name']).mean('ninth_graders')
tenth_graders_scores = school_data_complete.groupby(['school_name']).mean('tenth_graders')
eleventh_graders_scores = school_data_complete.groupby(['school_name']).mean('eleventh_graders')
twelfth_graders_scores = school_data_complete.groupby(['school_name']).mean('twelfth_graders')

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
ms ={'9th': ninth_grade_math_scores, '10th': tenth_grader_math_scores, '11th': eleventh_grader_math_scores, '12th': twelfth_grader_math_scores }
math_scores_by_grade= pd.DataFrame(ms)

# Minor data wrangling
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th      11th       12th
Bailey High School     77.048432  77.048432  80.43253  77.048432
Cabrera High School    83.061895  83.061895  80.43253  83.061895
Figueroa High School   76.711767  76.711767  80.43253  76.711767
Ford High School       77.102592  77.102592  80.43253  77.102592
Griffin High School    83.351499  83.351499  80.43253  83.351499
Hernandez High School  77.289752  77.289752  80.43253  77.289752
Holden High School     83.803279  83.803279  80.43253  83.803279
Huang High School      76.629414  76.629414  80.43253  76.629414
Johnson High School    77.072464  77.072464  80.43253  77.072464
Pena High School       83.839917  83.839917  80.43253  83.839917
Rodriguez High School  76.842711  76.842711  80.43253  76.842711
Shelton High School    83.359455  83.359455  80.43253  83.359455
Thomas High School     83.418349  83.418349  80.43253  83.418349
Wilson High School     83.274201  83.274201  80.43253  83.274201
Wright High School     83.682222  83.682222  80.43253  83.682222

In [38]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data_complete.groupby(['school_name']).mean('ninth_graders')
tenth_graders_scores = school_data_complete.groupby(['school_name']).mean('tenth_graders')
eleventh_graders_scores = school_data_complete.groupby(['school_name']).mean('eleventh_graders')
twelfth_graders_scores = school_data_complete.groupby(['school_name']).mean('twelfth_graders')

# Use the code to select only the `math_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
rs ={'9th': ninth_grade_reading_scores, '10th': tenth_grader_reading_scores, '11th': eleventh_grader_reading_scores, '12th': twelfth_grader_reading_scores }
reading_scores_by_grade= pd.DataFrame(ms)

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.033963  81.033963  82.529188  81.033963
Cabrera High School    83.975780  83.975780  82.529188  83.975780
Figueroa High School   81.158020  81.158020  82.529188  81.158020
Ford High School       80.746258  80.746258  82.529188  80.746258
Griffin High School    83.816757  83.816757  82.529188  83.816757
Hernandez High School  80.934412  80.934412  82.529188  80.934412
Holden High School     83.814988  83.814988  82.529188  83.814988
Huang High School      81.182722  81.182722  82.529188  81.182722
Johnson High School    80.966394  80.966394  82.529188  80.966394
Pena High School       84.044699  84.044699  82.529188  84.044699
Rodriguez High School  80.744686  80.744686  82.529188  80.744686
Shelton High School    83.725724  83.725724  82.529188  83.725724
Thomas High School     83.848930  83.848930  82.529188  83.848930
Wilson High School     83.989488  83.989488  82.529188  83.989488
Wright High School     83.955000  83.955000  82.529188  83.955000

In [42]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [44]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

NameError: name 'per_school_summary' is not defined

In [117]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =

SyntaxError: invalid syntax (761061942.py, line 2)

In [41]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

NameError: name 'school_spending_df' is not defined

In [119]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

SyntaxError: invalid syntax (1784604702.py, line 2)

In [120]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary